<form method="post" action="~/Math/Area">
    <div>
        <label>Высота:</label>
        <input type="number" name="height"/>
    </div>
    <div>
        <label>Основание:</label>
        <input type="number" name="altitude"/>
    </div>
    <input type="submit" value="Отправить" />
</form>